# Node.js
node_modules/
npm-debug.log
yarn-error.log

# Environment variables
.env

# Playwright
playwright-report/
test-results/

# Allure
allure-results/
allure-report/

# OS specific
.DS_Store
Thumbs.db

# Logs
*.log

# IDEs
.vscode/
.idea/
